.tile {
    height: 40px;
    width: 40px;
    /* border: 1px solid black; */
    display: inline-block;
    background-color: khaki;
    border-style: outset;
}

.tile-revealed {
    height: 40px;
    width: 40px;
    /* border: 1px solid black; */
    display: inline-block;
    background-color: khaki;
    border-style: inset;
}

.tile:hover {
    background-color: rgb(177, 174, 174);
}

.tile:active {
    border-style: inset;
    
}